body{
    position: relative;
    display: block;
    font-family: 'Times New Romans';
    background-image: url(Images/Background-image.jpg);
    background-size: cover;
}

/* Style for the container*/
.title {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #D1BB9E;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.632);
    position: relative;
    top: 50px;
}

/* Style for the main title */
h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

/* Style for user input */
.user-input {
    margin-bottom: 15px;
}

/* Style for labels of input */
.user-input label {
    display: block;
    margin-bottom: 5px;
}

.user-input input {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.553);
    transition: border-color 0.3s;
}

.user-input input:focus {
    outline: none;
    border-color: #007bff;
}

/* Style for the calculation button */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Style for the button hover */
button:hover {
    background-color: #06305d;
}

/* Style for the total cost */
#total-cost-petrol {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
}

/* Style for owner information */
.owner {
    color: #ffffff;
    padding: 15px; /* Adds some padding inside the border for spacing */
    display: inline-block;
    margin-top: 20px;
    position: fixed;
    bottom:20px;
    left: 400px;
}